<div class="card my-4">
  <div class="card-header">
    <h2>Create Event</h2>
  </div>
  <div class="card-body py-4">
    <%= form_with(model: event) do |form| %>
      <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% event.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-4">
        <h5 class="card-title">Basic Info</h5>
        <p class="card-subtitle text-muted mb-2">Name your event and tell event-goers why they should come. Add details that highlight what makes it unique.</p>
        <div class="field form-group">
          <% form.label :title %>
          <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
        </div>
      </div>

      <div class="mb-4">
        <h5 class="card-title">Main Event Image</h5>
        <p class="card-subtitle text-muted mb-2">This is the first image attendees will see at the top of your listing.</p>
        <p class="card-subtitle text-muted mb-2">Drag & drop or click to add main event image</p>
        <div class="field form-group">
          <% form.label :event_image %>
          <%= form.file_field :event_image, class: "form-control" %>
        </div>
      </div>

      <div class="mb-4">
        <h5 class="card-title">Description</h5>
        <p class="card-subtitle text-muted mb-2">Add more details to your event like your schedule, sponsors, or featured guests.</p>
        <div class="field form-group">
          <% form.label :description %>
          <%= form.rich_text_area :description, class: "form-control", placeholder: "Tell us about your event in excruciating detail" %>
        </div>
      </div>

      <div class="mb-4">
        <h5 class="card-title">Location</h5>
        <p class="card-subtitle text-muted mb-2">Help people in the area discover your event and let attendees know where to show up.</p>
        <div class="field form-group">
          <% form.label :location %>
          <%= form.text_field :location, class: "form-control", placeholder: "Location" %>
        </div>
      </div>

      <div class="mb-4">
        <h5 class="card-title">Date and time</h5>
        <p class="card-subtitle text-muted mb-2">Tell event-goers when your event starts and ends so they can make plans to attend.</p>
        <div>
        <% unless event.valid? %>
          <div class="field form-group">
            <%= form.label :starting_date %>
            <%= form.date_field :starting_date, class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= form.label :starting_time %>
            <%= form.time_field :starting_time, class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= form.label :ending_date %>
            <%= form.date_field :ending_date, class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= form.label :ending_time %>
            <%= form.time_field :ending_time, class: "form-control" %>
          </div>     
        <% else %>
          <div class="field form-group">
            <%= form.label :starting_date %>
            <%= form.date_field :starting_date, value: event[:starting_date], class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= form.label :starting_time %>
            <%= form.time_field :starting_time, value: event[:starting_time], class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= form.label :ending_date %>
            <%= form.date_field :ending_date, value: event[:ending_date], class: "form-control" %>
          </div>
          <div class="field form-group">
            <%= form.label :ending_time %>
            <%= form.time_field :ending_time, value: event[:ending_time], class: "form-control" %>
          </div>
        <% end %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>

