<div class="row">
    <div class="col-8 bg-light">
      <p>Image</p>
      <%= params %>
    </div>
    <div class="col-4">
      <p><%= @event.starting_date %></p>
      <p><%= @event.title %></p>
    </div>
    <div class="col-12">
    <%# host cannot attend %>
    <%# if a user is a attendee, give an option to opt-out %>
    <% if user_signed_in? && @event.creator == current_user %>
      <p>You Are Hosting This Event</p>
    <% else %>
      <%# checks whether the current user has attended the event %>
      <% if user_signed_in? && current_user.attended_events.where(id: @event.id).exists? %>
        <%= link_to 'Cancel Attendance',event_attendance_path(EventAttendance.where(user_id:current_user[:id],event_id:@event[:id]).first[:id]), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      <% else %>
        <%= form_with(url: event_attendances_url) do |f| %>
          <%= f.hidden_field :event_id, value: @event.id %>
          <%= f.submit 'Attend Event', class:'btn btn-success' %>
        <% end %>
      <% end %>
    <% end %>
    </div>
</div>
<div class="row">
  <div class="col-8">
    <p>Description</p>
    <%= @event.description %>
  </div>
  <div class="col-4">
    <div>
      <p>Date and time</p>
      <p class="mb-0" ><%= "#{@event.starting_date} - #{@event.ending_date}" %></p>
      <p><%= "#{@event.starting_time} - #{@event.ending_time}" %></p>
    </div>
    <div>
      <p>Location</p>
      <p><%= @event.location %></p>
    </div>
  </div>
</div>
<% if user_signed_in? && current_user.id == @event.creator.id %>
  <%= link_to 'Edit', edit_event_path(@event), class:'link' %>
  <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, class:'link' %>
<% end %>

<%= link_to 'Back', events_path, class:'link' %>
