<% provide(:title, "#{@event.title}, #{Date.parse(@event.starting_date).strftime("%a, %B %d, %Y")}") %>

<div class="row my-4 ">
    <div class="col-8 bg-light text-center">
      <% if @event.event_image.blob %>
        <%= image_tag @event.event_image, alt: "event image", class: "img-fluid", style: "max-height: 400px" %>
      <% end %>
    </div>
    <div class="col-4 d-flex flex-column justify-content-around">
      <h5 class="text-muted"><%= Date.parse(@event.starting_date).strftime("%b %d") %></h5>
      <h4 class="text-primary"><%= @event.title %></h4>
      <h5><%= "by #{@event.creator.email}" %></h5>
    </div>
    <div class="col-12 border p-3 text-center">
    <%# host cannot attend %>
    <%# if a user is a attendee, give an option to opt-out %>
    <% if user_signed_in? && @event.creator == current_user %>
      <h4 class="m-0">You Are Hosting This Event</h4>
    <% else %>
      <%# checks whether the current user has attended the event %>
      <% if user_signed_in? && current_user.attended_events.where(id: @event.id).exists? %>
        <%= link_to 'Cancel Attendance',event_attendance_path(EventAttendance.where(user_id:current_user[:id],event_id:@event[:id]).first[:id]), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      <% else %>
        <%= form_with(url: event_attendances_url) do |f| %>
          <%= f.hidden_field :event_id, value: @event.id %>
          <%= f.submit 'Attend Event', class:'btn btn-success' %>
        <% end %>
      <% end %>
    <% end %>
    </div>
</div>
<div class="row border-bottom pb-3">
  <div class="col-8">
    <h6>Description</h6>
    <%= @event.description %>
  </div>

  <div class="col-4">    
    <div class="mb-5">
      <h6>Date and time</h6>
      <p class="mb-0" ><%= "#{Date.parse(@event.starting_date).strftime("%a, %B %d, %Y")} - #{Date.parse(@event.ending_date).strftime("%a, %B %d, %Y")}" %></p>
      <p><%= "#{@event.starting_time} - #{@event.ending_time}" %></p>
    </div>
    
    <div>
      <h6>Location</h6>
      <p><%= @event.location %></p>
    </div>

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> <%= "Attendees (#{@event.attendees.count})" %> </a>
      <% if @event.attendees.count %>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% @event.attendees.each do |attendee| %>
        <li class="dropdown-item"><%= attendee.email %></li>
        <% end %>
      </ul>
      <% end %>
  </div>
  
  </div>
</div>

<div class="my-5">
  <% if user_signed_in? && current_user.id == @event.creator.id %>
    <%= link_to 'Edit', edit_event_path(@event), class:'link' %>
    <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, class:'link' %>
  <% end %>
  
  <%= link_to 'Back', events_path, class:'link' %>
</div>
